<?xml version="1.0" encoding="UTF-8" ?>
<Settings>
    <TableName>
        <value>DicomAttr</value>
    </TableName>
    <Hadoop>
        <NameNode>
            <value>master</value>
        </NameNode>
        <ZooKeeperQuorum>
            <value>slave</value>
        </ZooKeeperQuorum>
    </Hadoop>
    <Dir>
        <DICOM id="HDFS">
            <value>/dicomFile/</value>
        </DICOM>
        <DICOM id="local">
            <value>/home/hadoop/dicomFile</value>
        </DICOM>
        <GSPS id="HDFS">
            <value>/GSPSFile/</value>
        </GSPS>
        <GSPS id="local">
            <value>/home/verizonwu/GSPSFile</value>
        </GSPS>
    </Dir>
</Settings>